.window {
  display: flex;
  background-color: grey;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.left {
  flex: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drum-pad-row button{

  height: 65px;
  width: 65px;
  box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}


.drum-pad-row button:hover{
 
  background-color: rgb(170, 169, 169);
}



.right {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.button1 {
  background-color: gainsboro;
}
