.window {
  display: flex;
  background-color: grey;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.left {
  flex: 50%;
}

.right {
  flex: 50%;
}

.button1 {
  background-color: gainsboro;
}
